
.imagen1{
    width: 230px;
    border-radius: 36px 36px 36px 36px;
-moz-border-radius: 36px 36px 36px 36px;
-webkit-border-radius: 36px 36px 36px 36px;
border: 0px solid #000000;;
background-color: yellow;
<<<<<<< HEAD
margin:auto;

=======
margin: auto;
>>>>>>> bc7e11fbb28142a7363618199b83d1af000fd4d5
}

.imagen2{
    width: 230px;
    border-radius: 36px 36px 36px 36px;
-moz-border-radius: 36px 36px 36px 36px;
-webkit-border-radius: 36px 36px 36px 36px;
border: 0px solid #000000;;
    background-color:lightgreen;
text-align: left;
}
    



.borde1{
    width: 850px;
    height: 230px;
    background-color: rgb(228, 228, 228);
    border-color: rgb(235, 235, 235);
    border-radius: 29px 29px 29px 29px;
-moz-border-radius: 29px 29px 29px 29px;
-webkit-border-radius: 29px 29px 29px 29px;
border: 1px solid rgb(228, 228, 228);
}
.texto{
    text-align: center;
    font-size: 18px;
}

.tabla{
    width: 100%;
    height: 100%;
}